<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <h2>Historial detallado de Pagos</h2>
        <table>
          <thead>
            <tr>
              <th>DNI</th>
              <th>Nombre</th>
              <th>Monto</th>
              <th>Interes</th>
              <th>Total a pagar</th>
              <th>Fecha inicio</th>
              <th>Fecha fin</th>
              <th>Fecha de pago</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
           @for (item of listPagos; track $index) {
            <tr>
              <td>{{ item.Prestamo?.Cliente?.dni }}</td>
              <td>{{ item.Prestamo?.Cliente?.nombre }}</td>
              <td>{{ item.Prestamo?.monto }}</td>
              <td>{{ item.Prestamo?.tasa_interes }} {{'%'}}</td>
              <td>{{ item.Prestamo?.total_a_pagar }}</td>
              <td>{{ item.Prestamo?.fecha_inicio }}</td>
              <td>{{ item.Prestamo?.fecha_vencimiento }}</td>
              <td>{{ item.fecha_pago }}</td>
              <td>{{ item.Prestamo?.estado }}</td>
            </tr>
           }
          </tbody>
        </table>
      </div>    
</body>
</html>
