<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <h2>Historial de Pagos</h2>
        <table>
          <thead>
            <tr>
              <th>Pago ID</th>
              <th>Estado Anterior</th>
              <th>Estado Nuevo</th>
              <th>Fecha del Cambio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Pendiente</td>
              <td>Completado</td>
              <td>2024-10-02 12:34</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Pendiente</td>
              <td>Rechazado</td>
              <td>2024-09-30 10:45</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      
</body>
</html>
