<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


 
</head>
<body>
     <!-- Navbar Start -->
  
     <div class="layout">
      <nav class="navbar" [class.active]="isMenuOpen">
        <div class="navbar-logo">
          <a routerLink="/">PrestamosApp</a> <!-- Enlace a la página principal -->
        </div>
          <div class="navbar-links">
            <a routerLink="clientes">Cliente</a>
            <a routerLink="prestamos">Prestamos</a>
            <a routerLink="pagos">Pagos</a>
            <a routerLink="historialPagos">Historial de pagos</a>
          </div>
        <div class="menu-icon" (click)="toggleMenu()">&#9776;</div>
      </nav>
    
     </div> <!-- Aquí va el contenido de la página -->
    <div class="content">
        <!-- Aquí se cargarán los componentes de las rutas -->
        <router-outlet></router-outlet>
      </div>


</body>
</html>


