<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Préstamos</title>
</head>
<body>

  <div class="container">
    <h2>Lista de Préstamos</h2>
    <button (click)="abrirModal()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F3F3F3"><path d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z"/></svg>
    </button>

    <table>
      <thead>
        <tr>
          <th>Nombre del cliente</th>
          <th>Monto</th>
          <th>Interés (%)</th>
          <th>Total a pagar</th>
          <th>Fecha inicio</th>
          <th>Fecha fin</th>
          <th>Estado</th>
          <th>Descripción</th>
          <th style="text-align: center;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (item of listPrestamos; track item.id) {
          <tr>
            <td>{{ item.Cliente.nombre }}</td>
            <td>{{ item.monto }}</td>
            <td>{{ item.tasa_interes }} %</td>
            <td>{{ item.total_a_pagar }}</td>
            <td>{{ item.fecha_inicio }}</td>
            <td>{{ item.fecha_vencimiento }}</td>
            <td>{{ item.estado }}</td>
            <td>{{ item.descripcion }}</td>
            <td>
              <button (click)="abrirModal(item)" class="editar">Editar</button>
              <button (click)="eliminarPrestamo(item.id)" class="eliminar">Eliminar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <!-- Modal para editar/registrar préstamo -->
  <div class="modal" [class.show]="modalAbierto">
    <div class="modal-content">
      <form>
        <label for="cliente">Nombre del cliente</label>
        <select [(ngModel)]="prestamoSeleccionado.cliente_id" name="cliente_id" >
          <option value="0">Seleccione un cliente</option>
          @for (item of lisClientes; track item.id) {
            <option [value]="item.id">{{ item.nombre }}</option>
          }
        </select>

        <label for="monto">Monto total</label>
        <input type="number" [(ngModel)]="prestamoSeleccionado.monto" name="monto" placeholder="Monto total del préstamo" step="0.01" required>

        <label for="interes">Tasa de interés (%)</label>
        <input type="number" [(ngModel)]="prestamoSeleccionado.tasa_interes" name="tasa_interes" placeholder="Porcentaje de interés" step="0.01" required>

        <label for="fecha_inicio">Fecha de inicio</label>
        <input type="date" [(ngModel)]="prestamoSeleccionado.fecha_inicio" name="fecha_inicio" required>

        <label for="fecha_finalizacion">Fecha de finalización</label>
        <input type="date" [(ngModel)]="prestamoSeleccionado.fecha_vencimiento" name="fecha_vencimiento" required>

        <label for="estado">Estado del préstamo</label>
        <select [(ngModel)]="prestamoSeleccionado.estado" name="estado">
          <option value="">Seleccione un estado</option>
          <option value="Pendiente">Pendiente</option>
          <option value="Pagado">Pagado</option>
        </select>

        <label for="descripcion">Descripción</label>
        <input type="text" [(ngModel)]="prestamoSeleccionado.descripcion" name="descripcion" placeholder="Descripción del préstamo">

        <div>
          <button type="button" (click)="guardarPrestamo()">
            {{ modoEdicion ? 'Guardar cambios' : 'Registrar préstamo' }}
          </button>
          <button type="button" (click)="cerrarModal()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

</body>
</html>