.container {
    margin: 20px;
  }
  
  form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    /* font-weight: bold; */
    color: #000000;
  }
  
input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease;
    border-color: #007bff;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  
  td {
    background-color: #f9f9f9;
  }
  
  h2{
    text-align: center;
  }

  /* Estilos para el modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.modal.show {
  display: flex; /* Mostrar cuando tenga la clase .show */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px; /* Ancho del modal */
  max-width: 90%; /* Asegura que no sea más ancho que la pantalla */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el modal */
}